@model PasswordRecoveryConfirmModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

@*page title*@
@section Breadcrumb
{
    <div class="page-title">
        <div class="container">
            <div class="content">
                <h1>@T("Account.PasswordRecovery")</h1>
            </div>
        </div>
    </div>
}

<div class="page password-recovery-page">
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="no-data">
                <div class="box-shadow-container">
                    <div class="box-content">
                        <div class="box-symbol text-center"><i class="far fa-box-alt"></i></div>
                        <div class="alert alert-success result">@Model.Result</div>
                        <div class="buttons">
                            <a href="@Model.ReturnUrl" class="button-1 btn-primary py-2">@T("Common.Continue")</a>
                        </div>
                        <div class="bag-button text-center">
                            <input type="button" value="@T("ShoppingCart.ContinueShopping")" class="button-2 btn btn-default shopping-button" onclick="setLocation('@Url.RouteUrl("Homepage")')" />
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <div class="row mt-3">
                <div class="col-md-6 col-lg-6 mx-auto">
                    <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="form-group">
                                    <div class="row">
                                        <label asp-for="NewPassword" asp-postfix=":" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-form-label"></label>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <input asp-for="NewPassword" class="form-control" placeholder="New password" />
                                            <nop-required />
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label asp-for="ConfirmNewPassword" asp-postfix=":" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-form-label"></label>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm password" />
                                            <nop-required />
                                            <span asp-validation-for="ConfirmNewPassword"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" name="set-password" class="button-1 btn btn-primary new-password-button">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>